<h1>Textr</h1>
<h2>The texting thing</h2>
<div class='send'>
  <%= form_tag("/message", method: "post") do %>
    <h3>send text</h3>
    <table>
      <tr>
        <td>
          <label>Enter number(s)</label>
          <small>seperated by commas</small>
        </td>
        <td><%= text_field_tag(:phone_number) %></td>
      </tr>
      <tr>
        <td><label>Enter message</label></td>
        <td><%= text_field_tag(:message) %></td>
      </tr>
    </table>
    <%= submit_tag('Send Text') %>
  <% end %>
</div>

<hr>
<div class='send'>
  
    <!-- <h3>retrieve texts</h3>
    <div>
      <div>
        <%= radio_button_tag(:option, "latest") %>
        <%= label_tag(:company_latest, "Most recent text") %>
      </div>
      <div>
        <%= radio_button_tag(:option, "today") %>
        <%= label_tag(:option_today, "All texts from today") %>
      </div>
      <div>
        <%= radio_button_tag(:option, "all") %>
        <%= label_tag(:option_all, "All texts") %>
      </div>
    </div> -->
    <%#= submit_tag('get texts') %>
      
      <h3>Messages Recieved Today</h3>
    <table style='background-color:white'>
    <% @messages_recieved.each do |m| %>
      <tr>
        <td>
          <%= m.from %>: 
        </td>
        <td style='padding-left:10px'>
          <%= m.body %>
        </td>
      </tr>
      <% end %>
    </table>
    
</div>

<h2>Import Electricians</h2>

<%= form_tag import_electricians_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<h2>Contact Electricians</h2>
<%= form_tag("/sendtext", method: "post") do %>
    <%= text_field_tag(:message) %>
    <%= submit_tag "Send Texts to Service Workers" %>
<% end %>
<hr>
<%= form_tag("/sendmail", method: "post") do %>
    <%= submit_tag "Send mail to Service Workers" %>
<% end %>
<h2>View Electricians</h2>
<div class="col-sm-12">
    <table class="table table-bordered contacts ">
        <thead>
            <tr>
                <% @column_names.each do |column| %>
                <th>
                    <strong><%=column.titleize %></strong>
                </th>
                <%end %>
            </tr>
        </thead>
        <tbody>
            <% @electricians.each do |c| %>
            <tr>
            <% @column_names.each do |column| %>
            <td><%= c[column] %></td>
            <% end %>

            

            </tr>
            <% end %>
        </tbody>
    </table>

</div>